# Assignment-1

### Q1. Create one variable containing following type of data:
- (i) string
- (ii) list
- (iii) float
- (iv) tuple

In [1]:
strVar = "Hello World!" 
listVar = [1,2,3,'hi',2.5,'Hello!', True]
fltVar = 3.5
tupVar = ("Welcome", "to", "PW")

### Q2. Given are some following variables containing data:
- (i) var1 = ‘ ‘   --var1 is a string type
- (ii) var2 = ‘[ DS , ML , Python]’ --var2 is of a string type.
- (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ],  --var3 is of list type.
- (iv) var4 = 1.  --var4 is of integer type.
- What will be the data type of the above given variable.

### Q3. Explain the use of the following operators using an example:
- (i) / is the division operator, it is used to perform division
- (ii) % is the modulo operator, it is use to return the remeinder after a division
- (iii) // is the floor division operator, it used to return the quotient after a division
- (iv) ** is the power operator, it is used to return the result of x to the power of n calculation (x**n).

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [2]:
listVar = [1,2,3,'hi',2.5,'Hello!', True, 'Tea', "Coffe", 25000]

for item in listVar:
    print(item , ': ' , type(item))

1 :  <class 'int'>
2 :  <class 'int'>
3 :  <class 'int'>
hi :  <class 'str'>
2.5 :  <class 'float'>
Hello! :  <class 'str'>
True :  <class 'bool'>
Tea :  <class 'str'>
Coffe :  <class 'str'>
25000 :  <class 'int'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [3]:
a = int(input("Enter A: "))
b = int(input("Enter B: "))
n= 0

while(True):
    if(a % b == 0):
        a = a // b
        n= n+1
    else:        
        break
    
    
print( a,f"is divisble by {b}: {n} time(s).")

Enter A:  1000
Enter B:  3

1000 is divisble by 3: 0 time(s).

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [4]:
var25 = [23,9875,99,425,8576,4254,6958,636,454,134,564,908,6536876,563,8979,89,5780,790,4635,245667,36543,5635,2425,85464,2456]

for item in var25:
    if(item%3 ==0):
        print(item, "is divible by 3")
    else:
        print(item, "is not divible by 3")

23 is not divible by 3
9875 is not divible by 3
99 is divible by 3
425 is not divible by 3
8576 is not divible by 3
4254 is divible by 3
6958 is not divible by 3
636 is divible by 3
454 is not divible by 3
134 is not divible by 3
564 is divible by 3
908 is not divible by 3
6536876 is not divible by 3
563 is not divible by 3
8979 is divible by 3
89 is not divible by 3
5780 is not divible by 3
790 is not divible by 3
4635 is divible by 3
245667 is divible by 3
36543 is divible by 3
5635 is not divible by 3
2425 is not divible by 3
85464 is divible by 3
2456 is not divible by 3

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

- Mutable data types are data types that you can change their values like: lists, sets, and dictionaries;
- Immutable data types are data types that you cannot change their values like: strings and tuples.

In [7]:
# mutable data type is data that it's value or element(s} of its value can be changed once assigned to a varible, like list data type
l1 = [123, 578, "Hello!", "World", False]
print(l1)

[123, 578, 'Hello!', 'World', False]

In [8]:
l1[0] = l1[0]*2
l1[-1] = True
l1[-2] = l1[-2] + "wide"

l1

[246, 578, 'Hello!', 'Worldwide', True]

In [9]:
# immutable data type is data that it's value or element(s} of its value cannot be changed once it is assigned to a variable, like the string data type
s1 = "Hello World!"
s1

'Hello World!'

In [10]:
s1[-1] =  "?"
s1

TypeError: 'str' object does not support item assignment