# MySql Assignment

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is a structured collection of information or data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of data.

The difference between SQL and NoSQL databases is that SQL databse are designed to handle structured relational schema to the data's organization while NoSQL databaese are designed to handle unstructured and semistructured data and offer more flexibility in terms of data organization.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

**DDL** stands for Data Definition Language; it is uded to define, manage, and manipulate the structure of a database.

**CREATE** is used to create a new databse objects, such as tables, indexes, views, and more

Example:

CREATE TABLE Students (

    StudentID int PRIMARY KEY,
    
    FirstName VARCHAR(50),
    
    LastNmae VARCHAR(50),
    
    Email VARCHAR(100)

};


**DROP** is used to remove or delete existing database objects; it permanently deltes the specified object and all related data.

Example:

DROP TABLE Students;


**ALTER** is used to modify the structured of an existing databse objects, such as adding, modifying, and deleting columns in a table.

Example:

ALTER TABLE Students 

ADD PhoneNumber VARCHAR(15);


**TRUNCATE** is used to remove all rows from a table while keeping the table's structure intact.

Example:

TRUNCATE TABLE Students;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

**DML** stands fro Data Manipulation Language, it used for manipulating data stroed in databse.

**INNSERT** is used to add new records(rows) into databse table.

Example:

INSERT INTO Students (StudentID, FirstName, LastName, Email)

VALUES (001, "John", "Doe", "example1@gmail.com");

**UPDATE** is used to modify existing records(rows) in a databse table.

Example:

UPDATE Students
SET Email = 'examplejohn@gamil.com'
WHERE StudentID = 001;

**DELETE** is used to remove records(rows) from a databse table.

Example:

DELETE FROM Students
WHERE StudentID = 001;

### Q4. What is DQL? Explain SELECT with an example.

**DQL** stands for Data Query Language, it used for querying and retrieving data from a databse.

**SELECT** is used to retrieve data from one or more tables in a databse.

Example:

SELECT * FROM Students;

this query will retrieve all columns from the "Students" table.

### Q5. Explain Primary Key and Foreign Key.

Primary Key: is a unique identifier used to represent a row or record in a table.

Foreign Key: is used to establish a link between two tables by ensuring the data in the Foreign Key colmn(s) matches the data in the Primary Key column(s) of another table.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [9]:
import myql.connector

try:
    mydb = mysql.connector.connect(
        host="localhost",
        user = 'user_name',
        password = 'password'
    )
except Exception as e:
    print("Failed to connect to the database: ",e)

try:
    # cursor() is a database object that allows you to execute SQL queries.
    mycursor = mydb.cursor()

    # execute() is a cursor() that allows you to execute the prepared statement(s)
    mycursor.execute("SELECT * FROM TableName")
except Exception as e:
    print("Failed to execute query: ",e)

Failed to connect to the database:  name 'mysql' is not defined
Failed to execute query:  name 'mydb' is not defined

### Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM
2. JOIN
3. WHERE
4. GROUP BY
5. HAVING
6. SELECT
7. DISTINCT
8. ORDER BY
9. LIMIT/OFFSET