# Pandas Advance-2 Assignment

**Consider following code to answer further questions:**

import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration =  [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})
### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [1]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration = [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [2]:
df.iloc[:,1:]

   duration
0         2
1         3
2         6
3         4

In [3]:
df.loc[:,['duration']]

   duration
0         2
1         3
2         6
3         4

### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

##### You select data based on row and column labels when using'loc' function, while you select data based on integer positions when using 'iloc' function.

### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

In [5]:
reindex = [3,0,1,2]
new_df = pd.DataFrame(reindex)    
new_df

   0
0  3
1  0
2  1
3  2

In [9]:
new_df.loc[2]

0    1
Name: 2, dtype: int64

In [12]:
new_df.iloc[2]

0    1
Name: 2, dtype: int64

In [ ]:
# There isn't any difference between them as both new_df.loc[2] and new_df.iloc[2] selected 
#the data based based on the index or row with the value 2.

### Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) 	mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [14]:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.945615  0.389430  0.103257  0.615158  0.489814  0.109886
2  0.212002  0.669079  0.312554  0.154787  0.191001  0.163189
3  0.026130  0.680561  0.032187  0.756580  0.421538  0.498542
4  0.755850  0.989059  0.838393  0.055110  0.595605  0.640121
5  0.245446  0.262078  0.698953  0.986860  0.945014  0.715767
6  0.104775  0.176052  0.338362  0.915908  0.978232  0.929683

In [17]:
# (i) mean of each and every column present in the dataframe.
df1.mean()

column_1    0.381636
column_2    0.527710
column_3    0.387284
column_4    0.580734
column_5    0.603534
column_6    0.509531
dtype: float64

In [18]:
# (ii) standard deviation of column, ‘column_2’
df1['column_2'].std()

0.30644301629972936

### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [21]:
str_val = ['hello', 'world', 'class', 'data science','data analysis','big data']

In [22]:
df1['column_2'] = str_val
df1

   column_1       column_2  column_3  column_4  column_5  column_6
1  0.945615          hello  0.103257  0.615158  0.489814  0.109886
2  0.212002          world  0.312554  0.154787  0.191001  0.163189
3  0.026130          class  0.032187  0.756580  0.421538  0.498542
4  0.755850   data science  0.838393  0.055110  0.595605  0.640121
5  0.245446  data analysis  0.698953  0.986860  0.945014  0.715767
6  0.104775       big data  0.338362  0.915908  0.978232  0.929683

In [23]:
df1['column_2'].mean()

TypeError: Could not convert helloworldclassdata sciencedata analysisbig data to numeric

##### I am getting this error because I am trying to calculate the mean of 'column_2' that contains non-numerical value and it is giving 'TypeError' telling me that it cannot calculate the mean of a column that contains non-numerical value(s).

### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

##### A window function is a powerful feature that allows you to perform calculations on a subset of data within a specified window or range.

- **Expanding Functions** it calculate an expanding window statistic which includes all data points up to the current point. Common expanding functions include: expanding.mean(), expanding().sum(), expanding().min(), expanding().max(), and more.

    **Example:** 

        df['Expanding Mean'] = df['Value'].expanding().mean()
    
    
- **Rolling Functions** it operate on a rolling window off data points, and you can specify the window size. Common rolling functions include:  rolling.mean(), rolling.sum(), rolling.min(), rolling.max(), and more.

    **Example:** 

        df['Rolling Mean'] = df['Value'].rolling(window=3).mean()
    
- **Rank Functions** it allows you to assign ranks to data points within a window based on specified criteria. Common rank functions include:  rank(), dense_rank(), percent_rank(),  and more.

    **Example:** 

        df['Rank'] = df['Value'].rank()
    
    
- **EWMA Functions** it is used to calculate exponentially moving averages which assign more weight to recent data points. Common EWMA include:  ewm().mean(), ewm().var(), and ewm().std().

    **Example:** 

        df['Rank'] = df['Value'].rank()

### Q7. Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

In [24]:
from datetime import datetime

In [26]:
current_date = datetime.now()
print(current_date)

2023-09-24 18:50:37.541538

In [27]:
current_month = current_date.strftime('%B')
current_month

'September'

In [28]:
current_year = current_date.strftime("%Y")
current_year

'2023'

### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result. Did you observe any difference in both the outputs? If so then explain it.

In [32]:
from datetime import datetime


def timedelta_date_difference(first_date, second_date):
    first_date = pd.to_datetime(first_date)
    second_date = pd.to_datetime(second_date)
    return (second_date -  first_date)

def datetime_date_difference(date1, date2):
    date1 = datetime.strptime(date1, '%Y-%m-%d')
    date2 = datetime.strptime(date2, '%Y-%m-%d')
    time_diff = date2 - date1
    return time_diff

In [35]:
date_str1 = input("Enter the first date (YYYY-MM-DD): ")
date_str2 = input("Enter the second date (YYYY-MM-DD): ")

timedelta_diff = timedelta_date_difference(date_str1, date_str2)
datetime_diff = datetime_date_difference(date_str1, date_str2)

# Display the results
print(f"\nUsing Pandas Timedelta:")
print(f"Days difference: {timedelta_diff.days} days")
print(f"Hours difference: {timedelta_diff.seconds // 3600} hours")
print(f"Minutes difference: {(timedelta_diff.seconds // 60) % 60} minutes")

print("\nUsing datetime.timedelta:")
print(f"Days difference: {datetime_diff.days} days")
print(f"Hours difference: {datetime_diff.seconds // 3600} hours")
print(f"Minutes difference: {(datetime_diff.seconds // 60) % 60} minutes")

Enter the first date (YYYY-MM-DD):  2022-03-22
Enter the second date (YYYY-MM-DD):  2022-06-21

Using Pandas Timedelta:
Days difference: 91 days
Hours difference: 0 hours
Minutes difference: 0 minutes

Using datetime.timedelta:
Days difference: 91 days
Hours difference: 0 hours
Minutes difference: 0 minutes

##### There isn't any difference in both outputs.

### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [38]:
import pandas as pd

def transforming_file(file_path, column_name, cat_order):
    try:
        df = pd.read_csv(file_path)
        df[column_name] =  pd.Categorical(df[column_name], categories=cat_order, ordered=True)
        sorted_df = df.sort_values(by=column_name)
        
        # Display the sorted data
        print("Sorted Data:")
        print(sorted_df)
        
    except FileNotFoundError:
        print(f"File not found at '{file_path}' ")
    except KeyError:
        print(f"Column '{column_name}' not found in the CSV file.")

### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt


def visualize_sales_data(file_path):
    try:
        df = pd.read_csv(file_path)
        df['Date'] = pd.to_datetime(df['Date'])
        
        pivot_table = df.pivot_table(values='Sales', index='Date', columns='Product_Category', 
                                     aggfunc=sum, fill_value=0)
        
        pivot_table.plot(kind='bar', stacked=True, figsize=(12,7))
        plt.title('Sales by Product Category Over Time')
        plt.xlabel('Date')
        plt.ylabel('Sales')
        
        plt.show()
        
    except FileNotFoundError:
        print(f"File not found at '{file_path}' ")
        
file_path = input("Enter the file path of the CSV file: ")

# Call the function to visualize the sales data
visualize_sales_data(file_path)

### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

**The program should do the following:**
- Prompt the user to enter the file path of the CSV file containing the student dataR
- Read the CSV file into a Pandas DataFrameR
- Calculate the mean, median, and mode of the test scores using Pandas toolsR
- Display the mean, median, and mode in a table.

**Assume the CSV file contains the following columns:**
- Student ID: The ID of the studentR
- Test Score: The score of the student's test.

**Example usage of the program:**

Enter the file path of the CSV file containing the student data: student_data.csv


+-----------+--------+

| Statistic | Value  |

+-----------+--------+

| Mean      | 79.6   |

| Median    | 82     |

| Mode      | 85, 90 |

+-----------+--------+


**Assume that the CSV file student_data.csv contains the following data:**

**Student ID,Test Score**

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85


**The program should calculate the mean, median, and mode of the test scores and display the results in a table.**

In [ ]:
import pandas as pd

def read_student_data(file_path):
    try:
        df = pd.read_csv(file_path)
        grade_mean = df['Test Score'].mean()
        grade_median = df['Test Score'].median()
        grade_mode = df['Test Score'].mode()
        
        statiscal_table = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                                        'Values': [grade_mean, grade_median, ', '.join(map(str, grade_mode))]})
        # display statiscal values
        print(statiscal_table)
    
    except FileNotFoundError:
        print(f"File not found at '{file_path}' ")

file_path = input("Enter student data csv file path: ")
read_student_data(file_path)